{
  "input": {
    # kinesis and file are the only options for stream shredder
    # Optional, default value kinesis
    "type": "kinesis",
    # KCL app name - a DynamoDB table will be created with the same name
    # Optional, default value snowplow-rdb-shredder
    "appName": "acme-rdb-shredder",
    # Kinesis Stream name
    "streamName": "enriched-events",
    # Kinesis region
    # This field is optional if it can be resolved with AWS region provider chain.
    # It checks places like env variables, system properties, AWS profile file.
    # https://sdk.amazonaws.com/java/api/latest/software/amazon/awssdk/regions/providers/DefaultAwsRegionProviderChain.html
    "region": "us-east-1",
    # Kinesis position: LATEST or TRIM_HORIZON
    # Optional, default value LATEST
    "position": "LATEST"
  }

  # Path to shredded archive
  "output": {
    # Path to shredded output
    "path": "s3://bucket/shredded/",
    # Shredder output compression, GZIP or NONE
    # Optional, default value GZIP
    "compression": "GZIP",
    # Optional if it can be resolved with AWS region provider chain.
    "region": "eu-central-1"
  }

  # Frequency to emit loading finished message - 5,10,15,20,30,60 etc minutes
  # Optional, default value 10 minutes
  "windowing": "10 minutes"

  # Queue used to communicate with Loader
  "queue": {
    # Type of the queue. It can be either sqs or sns
    "type": "sqs",
    # Name of the sqs queue
    "queueName": "test-sqs",
    # Region of the SQS queue
    # Optional if it can be resolved with AWS region provider chain
    "region": "eu-central-1"
  }
  # SNS example:
  #"queue": {
  #  # Type of the queue. It can be either sqs or sns
  #  "type": "sns",
  #  # ARN of SNS topic
  #  "topicArn": "test-sqs",
  #  # Region of the SNS topic
  #  "region": "eu-central-1"
  #}

  # Schema-specific format settings (recommended to leave all three groups empty and use TSV as default)
  "formats": {
    # Format used by default (TSV or JSON)
    # Optional, default value TSV
    "default": "TSV",
    # Schemas to be shredded as JSONs, corresponding JSONPath files must be present. Automigrations will be disabled
    # Optional, default value []
    "json": [
      "iglu:com.acme/json-event/jsonschema/1-0-0",
      "iglu:com.acme/json-event/jsonschema/2-*-*"
    ],
    # Schemas to be shredded as TSVs, presence of the schema on Iglu Server is necessary. Automigartions enabled
    # Optional, default value []
    "tsv": [ ],
    # Schemas that won't be loaded
    # Optional, default value []
    "skip": [
      "iglu:com.acme/skip-event/jsonschema/1-*-*"
    ]
  },

  # Observability and reporting options
  "monitoring": {
    # Optional, for tracking runtime exceptions
    "sentry": {
      "dsn": "http://sentry.acme.com"
    }
  }
}
