{
  "input": {
    "streamName": "enriched-events"
  }
  "output": {
    "path": "s3://bucket/shredded/"
  }
  "queue": {
    "type": "sns"
    "topicArn": "arn:aws:sns:eu-central-1:123456789:test-sns-topic"
  }
}
