{
  "messageQueue": "test-queue",
  "storage" : {
    "type": "snowflake",

    "snowflakeRegion": "us-west-2",
    "username": "admin",
    "password": "Supersecret1",
    "account": "acme",
    "warehouse": "wh",
    "schema": "atomic",
    "database": "snowplow",

    "transformedStage": {
      "name": "snowplow_stage"
      "location": "s3://bucket/transformed/"
    }
  }
}
