{
  "blobStorageEndpoint": "https://accountName.blob.core.windows.net/container-name"
  "messageQueue": {
    "type": "kafka"
    "bootstrapServers": "localhost:9092"
    "topicName": "loaderTopic"
   },
  "storage" : {
    "type": "snowflake",

    "snowflakeRegion": "us-west-2",
    "username": "admin",
    "password": "Supersecret1",
    "account": "acme",
    "warehouse": "wh",
    "schema": "atomic",
    "database": "snowplow",

    "transformedStage": "snowplow_stage"
  }
}
